.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
  text-align: justify;

  display: flex;
  justify-content: center;
}

