<div class="card">
  <!-- <h1 class="title">Sou o título do card</h1> -->
  <app-card-text-title>Sou o titular do card</app-card-text-title>

  <!-- <h1 class="subtitle">Sou o subtítulo do card</h1> -->
  <app-card-text-subtitle>Sou o subtitular do card</app-card-text-subtitle>

  <!-- <h1 class="description">Sou a descrição do card</h1> -->
  <app-card-text-description color="green">Sou a drescriçalar do card</app-card-text-description>
</div>

<img src="assets/images/sonex.png" class="avatar-small">

<img src="assets/images/sonex.png" class="avatar-large">
