<div class="item">
  <div class="client-infos-card">
    <div class="header-info-card">
      <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </div>
    <div class="content-info-card">
      <app-card-item text="Nome" value="Felipe da Silva Freitas"></app-card-item>
      <hr>
      <app-card-item text="Idade" value="26 anos"></app-card-item>
      <hr>
      <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>
      <hr>
      <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
    </div>
  </div>
</div>
