<!-- Aula 104:
<app-sem-diretiva></app-sem-diretiva> -->

<!-- Aula 105:
<app-com-diretiva></app-com-diretiva> -->

<!-- Aula 106:
<button disabled>Meu Botão</button>

<button [attr.disabled]="false">Meu Botão Attr</button>

<button [disabled]="false">Meu Botão Prop</button>

<button appDisabled>Meu Botão Attr Diretiva</button> -->

<!-- Aula 107: 
<p style="background-color: black; color: white;">Parágrafo Normal</p>

<p [attr.style]="'background-color: darkred; color: yellow;'">Parágrafo Attr</p>

<p [style]="'background-color: lightblue; color: green;'"> Parágrafo Prop</p>

<p [style]="{
     backgroundColor: 'darkorange',
     color: 'blue',
}"> Parágrafo Prop</p>

<p appStyle>Diretiva</p>-->

<!-- Aula 108: 
<p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">Attr</p>

<p [className]="'meu-texto meu-size'">Prop Class Name</p>

<p [class]="{
     'meu-texto': true,
     'meu-size': true,
}">Prop Class</p>

<p appClass>Diretiva</p>-->

<!-- Aula 109: 

<input appListener>-->

<!-- Aula 110: -->

<input appInputBackground [bgColor]="appBgColor" txtColor="white">

<input appInputBackground bgColor="fuchsia" txtColor="yellow">