<div class="user-details">
     <mat-list>
          <mat-list-item class="utili-text-align-center">
               <h2>Detalhes do Usuário</h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Nome: </b></span><span>{{ user.nome | dashIfEmpty }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Email: </b></span><span>{{ user.email | dashIfEmpty }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Telefone: </b></span><span>{{ user.telefone | phone }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Endereço: </b></span><span>{{ user.endereco | address }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Status: </b></span><span>{{ user.ativo | status }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Função: </b></span><span>{{ user.funcao | dashIfEmpty }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <!--Quando você coloca o ":" depois de um pipe, você está passando mais de um parâmetro para o pipe, aqui embaixo por exemplo,
               está sendo passado a data e o formato de dia / mês / ano, caso fosse passar mais um parâmetro era só colocar ":" novamente.-->
               <span class="mat-title-large"><b>Data de Cadastro: </b></span><span>{{ user.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
     </mat-list>
</div>