<div class="user-details">
     <mat-list>
          <mat-list-item class="utili-text-align-center">
               <h2>Detalhes do Usuário</h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Nome: </b></span><span>Jorge Benjor</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Email: </b></span><span>jorjorARROBAjojomail.com</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Telefone: </b></span><span>1140028922</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Endereço: </b></span><span>Avenida Brasil, Oi oi ioi io (x2)</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Status: </b></span><span>Bloqueado</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Função: </b></span><span>Meu p na sua m</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
               <span class="mat-title-large"><b>Data de Cadastro: </b></span><span>01/01/1001</span>
          </mat-list-item>
          <mat-divider></mat-divider>
     </mat-list>
</div>