<h1>{{ text | uppercase }}</h1>

<!-- <h1
  [class]="{
    'active': pessoa.status === 1,
    'partial': pessoa.status === 2,
    'blocked': pessoa.status === 3,
  }"
>{{ pessoa.name }}</h1> -->

<!-- <h1
  [class]="getStyle(pessoa.status)"
>{{ pessoa.name }}</h1> -->

<h1
  [class]="pessoa.status | statusClass"
>{{ pessoa.name }}</h1>

<!-- <h1
  [class]="{
    'active': pessoa2.status === 1,
    'partial': pessoa2.status === 2,
    'blocked': pessoa2.status === 3,
  }"
>{{ pessoa2.name }}</h1> -->

<!-- <h1
  [class]="getStyle(pessoa2.status)"
>{{ pessoa2.name }}</h1> -->

<h1
  [class]="pessoa2.status | statusClass"
>{{ pessoa2.name }}</h1>

<!-- <h1
  [class]="{
    'active': pessoa3.status === 1,
    'partial': pessoa3.status === 2,
    'blocked': pessoa3.status === 3,
  }"
>{{ pessoa3.name }}</h1> -->

<!-- <h1
  [class]="getStyle(pessoa3.status)"
>{{ pessoa3.name }}</h1> -->

<h1
  [class]="pessoa3.status | statusClass"
>{{ pessoa3.name }}</h1>