/* You can add global styles to this file, and also import other style files */

body {
  background-color: gray;
  font-family: 'Poppins', 'sans-serif';
}

.title {
  font-weight: 500;
  font-size: 25px;
  display: block;
}

.subtitle {
  font-weight: 200;
  font-size: 16px;
  display: block;
}

.description {
  font-weight: 300;
  font-size: 20px;
  display: block;
}
