<!-- Aula 99:
Meu input: <input type="text" #meuInput>

<button (click)="updateInputText()">Anão</button>

<button (click)="focus()">Focar</button>

<div #minhaDiv>
  Ora ora, se não é o Chapéu de Palha
</div>

<button (click)="updateDivText()">Risada</button> -->
<!-- Aula 100: 
<app-filho #filhoComp></app-filho>

<button (click)="harou()">Herold</button>-->

<!-- Aula 101: 
Meu input: <input type="text" #meuInput>-->

<!-- Aula 102 -->
<button #meuButton *ngFor="let btn of buttonsList">{{ btn }}</button>