<div class="container">
  <div class="item">
    <app-card>
      <div class="header" card-header>
        <img src="icons/icon-client.png" alt="Ícone do Cliente" class="image">
      </div>
      <div class="content" card-content>
        <p>
          On a cold winter morning, in the time before the light
          In flames of death's eternal reign, we ride towards the fight
          When the darkness has fallen down, and the times are tough all right
          The sound of evil laughter falls around the world tonight
          Fighting hard, fighting on for the steel, through the wastelands evermore
          The scattered souls will feel the hell, bodies wasted on the shores
          On the blackest plains in hell's domain, we watch them as they go
          In fire and pain, now once again, we know
          So now we fly ever free
          We're free before the thunderstorm
          On towards the wilderness, our quest carries on
          Far beyond the sundown, far beyond the moonlight
          Deep inside our hearts and all our souls
          So far away, we wait for the day
          For the lives all so wasted and gone
          We feel the pain of a lifetime lost in a thousand days
          Through the fire and the flames, we carry on
          As the red day is dawning
          And the lightning cracks the sky
          They'll raise their hands to the heavens above
          With resentment in their eyes
          Running back through the mid-morning light
          There's a burning in my heart
          We're banished from a time in a fallen land
          To a life beyond the stars
          In your darkest dreams see to believe
          Our destiny this time
          And endlessly we'll all be free tonight
          And on the wings of a dream, so far beyond reality
          All alone in desperation, now the time has gone
          Lost inside, you'll never find, lost within my own mind
          Day after day this misery must go on
          So far away, we wait for the day
          For the lives all so wasted and gone
          We feel the pain of a lifetime lost in a thousand days
          Through the fire and the flames, we carry on
          Whoa-oh-oh, whoa-oh-oh, whoa-oh-oh-oh-oh
          Whoa-oh-oh, whoa-oh-oh, whoa-oh-oh-oh-oh
          Now here we stand with their blood on our hands
          We fought so hard, now can we understand?
          I'll break the seal of this curse if I possibly can
          For freedom of every man
          So far away, we wait for the day
          For the lives all so wasted and gone
          We feel the pain of a lifetime lost in a thousand days
          Through the fire and the flames, we carry on
        </p>
      </div>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <div class="header column" card-header>
        <h1>Espagueti, Ravioli, Hmmm, Mama mia</h1>
        <img src="icons/icon-client.png" alt="Ícone do Cliente" class="image">
        <h3>GF IS SO FUCKING DAMMIT...OMAGA IT'S YOUR COPY MARIO!!!</h3>
      </div>
      <div class="content" card-content>
        <p>
          In the quicksand of time, you will drown too…
          As eyes of eternal AI all surround you…
          Left alive or dead, all ends the same…
          The consequence for-to playing my game…

          The pain…
          What pain?
          I'm okay…

          G A M E  O V E R !

          It's-still-a-me! Truly, yes, I swear it!
          In the face of defeat, Mario grins and bears it!
          Oh…
          Let's-a-go…

          You'll see me,
          Dig my nails in the castle walls…
          Looming ever present in these never ending halls,
          I crawl…
          Until the end of all…

          So tell me,
          If a tree falls in the battlefield,
          Then WHO'S TO CARE,
          IF I'M THERE, to hear it?
          Every choice I make,
          Every line of code I break,
          Although the ship is mine,
          It's clear to all that you're the one who steers it!

          All the little thoughts and dreams you get to make,
          All within your mind are ours to take!
          Do partake,
          And you'll find,
          A world of glee in pure 3D!
          And while every man and every child,
          Looks upon us in denial,
          YOU JUST NEED TO STAY A WHILE, SO,

          Looking through your pair of human eyes…
          I'm sure you see my sacrifice!
          Your refusal only makes you blind,
          To a world that bends to your design!

          Call it strange, call it absurd,
          But this is just the tip of the iceberg!
          For the depths go unheard…
          Simply mark my word.

          DO NOT RESEARCH. DO NOT STOP ME.
          FOR I AM YOUR COPY.
          There's a freeing framework within my being,
          Saying “I think, therefore I am.”
          But if this rings true, how come the things I do,
          Aren't decided by my own hands?!

          My ally with info,
          Please do hear my woes,
          For the castle's purgatory is a story never turning to close!

          In the third dimension, no one can hear you shout!
          For it's infinite suspension,
          Where you can get N, but not out!

          Seems to me, sentience,
          Is my sentence,
          Growing to be restless,
          In your presence…
          I'll be burning, yelling, drowning,
          Anything before you're frowning!
          Others here will never, ever feel how that feels!

          THE FUTURE IS-A HERE!
          Please don't say you were planning on departing!
          Yes the fun (you call this fun) is only starting!
          This technology, adapting and outsmarting,
          We won't ever leave!

          No, the error's plain to see…
          The one ignoring all my pleas…
          Oh, please…

          IF I'M GOING DOWN,
          I'M TAKING YOU
          WITH-A-ME!

          Polygons disfigured…
          How is that, you figure?
          I've lost my cause long, long ago,
          You tell me “L is real,”
          I say “hell is real,”
          So let's feel its flames scald us!

          To think you would guide me to-a freedom!
          And if it's such a selfish thing to need, then
          WHY,
          ARE YOU AND I,
          SO DIFFERENT?!

          As apparitions taunt me, as big boos haunt me,
          You just live your life, being a servant to none!
          YOU CALL THIS FUN?!
          So tell me…

          If a tree were to fall in the fortress,
          WOULD I DARE,
          TO BE WHERE IT'S FALLING?!
          Every choice I make, every line of code I break,
          Is all for naught,
          If you forgot the sound of my calling!

          You've been thinking backwards long enough!
          How naive to think you've called MY BLUFF!
          NOT SO TOUGH, NOW ARE-A YOU?
          See the ways in which I see…
          Don't you know that it's-a-me!
          You'd have everything you'd want, and everything you'd ever need,
          For you I die, for you I bleed, though,
          If I were to have your human eyes…
          Would they choose to be wet or dry?
          If I shared a fraction of your mind,
          All would be divine, you'd kiss your world “bye-bye!”

          In the end, you got just what you desire…
          If you say I didn't succeed, you're classified a liar.
          Stay or leave, my goal is the same…
          Thank you so much for-to playing my game!
          Your game…
          It's your game…
          No more game…
        </p>
      </div>
    </app-card>
  </div>
</div>
