<h1 [ngClass]="{
  'is-big is-green': isGreen,
  'is-orange': !isGreen,
}">Shin Jye Yun</h1>

<h1 [class]="{
  'is-green': isGreen,
  'is-orange': !isGreen,
}">Kin Jye Yun</h1>

<button (click)="setToGreen()">Verde</button>

<button (click)="setToOrange()">Laranja</button>

<!-- Strings -->
<h1 [ngClass]="'is-big is-orange'">Son Wukong</h1>
<h1 [class]="'is-big is-orange'">Son Wukong</h1>

<!-- Arrays -->
<h1 [ngClass]="['is-big', 'is-orange']">Son Wukong</h1>
<h1 [class]="['is-big', 'is-orange']">Son Wukong</h1>

<!-- Objetos -->
<h1 [ngClass]="{ 'is-big': isGreen, 'is-orange': !isGreen }">Son Wukong</h1>
<h1 [class]="{ 'is-big': isGreen, 'is-orange': !isGreen }">Son Wukong</h1>

<!-- Diferenças -->
<h1 [ngClass]="{ 'is-big is-green': isGreen, 'is-orange': !isGreen }">Son Wukong</h1>
<h1 [class]="{ 'is-big': isGreen, 'is-green': isGreen, 'is-orange': !isGreen }">Son Wukong</h1>

<h1 [ngClass]="{ 'is-green': isGreen }">Son Wukong</h1>
<h1 [class.is-green]="isGreen">Son Wukong</h1>