.card {
  max-width: 400px;

  .header {
    padding: 50px;
    height: 40%;
    background-color: #FFAD36;
    display: block;
  }

  .content {
    padding: 50px;
    height: 60%;
    background-color: #FF5916;
  }

  .main-text {
    font-size: 30px;
    font-weight: 500;
  }

  .sub-text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
  }

  .description-text {
    font-size: 20px;
    font-weight: 300;
  }

  .smol {
    width: 100px;
  }

  .big {
    width: 150px;
  }
}
