.card {
  max-width: 400px;

  .header {
    padding: 50px;
    height: 40%;
    background-color: #FFAD36;
    display: block;
  }

  .content {
    padding: 50px;
    height: 60%;
    background-color: #FF5916;
  }
}
