<div class="container">
  <div class="item">
    <div class="balance-card">
      <div class="header-balance-card">
        <div class="balance-title">
          <img src="../assets/images/icon-hand.png" alt="Saldos Disponíveis">
          <span><b>Saldos Disponíveis</b></span>
        </div>
        <div>
          <span>R$ 100,00</span>
        </div>
      </div>
      <app-card-item></app-card-item>
      <div class="content-balance-card">
        <p>
          <span>Conta Corrente</span>
          <span>R$ 200,00</span>
        </p>
        <hr>
        <p>
          <span>Conta Corrente Saldo Vinculados</span>
          <span>R$ 300,00</span>
        </p>
        <hr>
        <p>
          <span>Conta Poupança Saldo Vinculados</span>
          <span>R$ 400,00</span>
        </p>
        <hr>
        <p>
          <span>Investimento com Baixa Automática</span>
          <span>R$ 500,00</span>
        </p>
        <hr>
        <p>
          <span>Investimentos sem Baixa Automática</span>
          <span>R$ 500,00</span>
        </p>
        <hr>
        <div class="total-balance">
          <p>
            <span>SALDO TOTAL</span>
            <span>R$ 1000,00</span>
          </p>
          <p>
            <span>LIVRE PARA MOVIMENTAÇÃO</span>
            <span>R$ 1000,00</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="credit-card">
      <div class="header-credit-card">
          <img src="../assets/images/icon-credit-card.png" alt="Cartão de Crédito">
          <span><b>Cartão de Crédito</b></span>
      </div>
      <div class="content-credit-card">
        <p>
          <span>1234567891011<br>FELIPE DA SILVA FREITAS</span>
          <span>MASTER CARD</span>
        </p>
        <hr>
        <p>
          <span>Limite de Compra</span>
          <span>R$ 1000,00</span>
        </p>
        <hr>
        <p>
          <span>Disponível</span>
          <span>R$ 1200,00</span>
        </p>
        <hr>
        <p>
          <span>Limite de Saque</span>
          <span>R$ 2000,00</span>
        </p>
        <hr>
        <p>
          <span>Disponível</span>
          <span>R$ 1300,00</span>
        </p>
        <hr>
        <p>
          <span>Limite Total Utilizado</span>
          <span>R$ 3000,00</span>
        </p>
        <div class="total-balance">
          <p>
            <span>SALDO TOTAL</span>
            <span>R$ 1000,00</span>
          </p>
          <p>
            <span>LIVRE PARA MOVIMENTAÇÃO</span>
            <span>R$ 1000,00</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="debit-card">
      <div class="header-debit-card">
        <img src="../assets/images/icon-debit-card.png" alt="Cartão de Débito">
        <span><b>Cartão de Débito</b></span>
      </div>
      <div class="content-debit-card">
        <p>
          <span>Este cliente não possui Cartão de Débito</span>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="client-infos-card">
      <div class="header-info-card">
        <img src="../assets/images/icon-client.png" alt="Informações do Cliente"><span><b>Informações do Cliente</b></span>
      </div>
      <div class="content-info-card">
        <p>
          <span>Nome</span>
          <span>Felipe da Silva Freitas</span>
        </p>
        <hr>
        <p>
          <span>Idade</span>
          <span>26 anos</span>
        </p>
        <hr>
        <p>
          <span>Renda Mensal</span>
          <span>R$ -1000,00</span>
        </p>
        <hr>
        <p>
          <span>Nacionalidade</span>
          <span>Brasileiro</span>
        </p>
      </div>
    </div>
  </div>
</div>
