<!-- <app-button [text]="'Téquisti'" [style]="'white'" [disabled]="true" (clicked)="buttonClicked()"></app-button>

<app-button [text]="'Téquisti'" [style]="'purple'" [disabled]="false" (clicked)="buttonClicked()"></app-button> -->

<div class="cards-container">
     <app-card [planType]="'Simples'" [priceType]="100" [cardStyle]="'orange'" (ButtonClicked)="onCardButtonClicked()"></app-card>

     <app-card [planType]="'Completo'" [priceType]="200" [cardStyle]="'purple'" (ButtonClicked)="onCardButtonClicked()"></app-card>
</div>