.client-infos-card {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;

  .header-info-card {
    background-color: #32e9da;
    border-radius: 10px 10px 0 0;
  }

  .content-info-card {
    padding: 8px;
    font-size: 16px;
    width: 500px;

    .total-balance {
      margin: 20px 0;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px;
    }
  }
}
