.credit-card {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;

  .header-credit-card {
    background-color: rgb(233, 129, 50);
    border-radius: 10px 10px 0 0;
    display: block;
  }

  .content-credit-card {
    padding: 8px;
    font-size: 16px;
    width: 500px;

    .content-card {
      padding: 5px 25px 0 10px;
      font-size: 16px;
      width: 500px;

      p {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
      }

      .master-card {
        display: flex;
        align-items: center;
      }
    }

    .total-balance {
      margin: 20px 0;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px;
    }
  }
}
