<div class="item">
  <div class="credit-card">
    <div class="header-credit-card">
      <app-card-title title="Cartão de Crédito" icon="icon-credit-card.png"></app-card-title>
    </div>
    <div class="content-credit-card">
      <div class="content-card">
        <p>
          <span>1234567891011<br>FELIPE DA SILVA FREITAS</span>
          <span class="master-card">MASTER CARD</span>
        </p>
      </div>
      <hr>
      <app-card-item text="Limite de Compra" value="R$ 1000,00"></app-card-item>
      <hr>
      <app-card-item text="Disponível" value="R$ 1000,00"></app-card-item>
      <hr>
      <app-card-item text="Limite de Saque" value="R$ 2000,00"></app-card-item>
      <hr>
      <app-card-item text="Disponível" value="R$ 1300,00"></app-card-item>
      <hr>
      <app-card-item text="Limite Total Utilizado" value="R$ 3000,00"></app-card-item>
      <hr>
      <div class="total-balance">
        <app-card-item text="SALDO TOTAL" value="R$ 1000,00"></app-card-item>
        <app-card-item text="LIVRE PARA MOVIMENTAÇÃO" value="R$ 1000,00"></app-card-item>
      </div>
    </div>
  </div>
</div>
