<!-- <div style="background-color: greenyellow;" *ngIf="minhaProp; else meuTemplate">Sou uma diva aiai que viado</div>
<br>
<ng-template #meuTemplate>
    <div style="background-color: red;">Sou uma outra diva aiai que viado</div>
</ng-template> -->

<ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplate">

</ng-container>

<ng-template #meuTemplate>
  <div style="background-color: green;">Sou uma outra diva aiai que viado</div>
</ng-template>

<ng-template #meuOutroTemplate>
  <div style="background-color: red;">Sou uma another diva aiai que viado</div>
</ng-template>

<br>
<button (click)="toggleProp()">Não Clique!!!!</button>